<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<h1>Welcome to Turbo</h1>

	<div class="row">
		<form action="/api/profile" method="post">
			<p><input type="text" name="firstName" placeholder="First Name"></p>
			<p><input type="text" name="lastName" placeholder="Last Name"></p>
			<p><input type="text" name="team" placeholder="Team"></p>
			<p><input type="text" name="position" placeholder="Position"></p>
			<p><input type="text" name="age" placeholder="Age"></p>
			<p><input type="submit" value="Add Profile"></p>
		</form>
	</div>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 
  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>